.dispatch{
    border: 3px dotted orangered;
    margin: 20px;
    padding: 20x;
    border-radius: 40px;
    width: 18%;
}
.dispatch img{
    height: 30px;
    width: 30px;
    margin: 6px;
}
.dispatch span{
    font-size: 20px;
    margin: 3px 5px;
}
.hero-section{
    width: 50%;
    margin: 50px;
}
.heading-section{
    font-size: 4em;
    font-weight: bold;
    margin-left: 40px;
    /* width: 40%; */
}
.color-text{
    color: orangered;
}
.colorless-text{
    color:black
}
.main{
    display: flex;
    float:left;
}
.hero-image{
    /* margin: 3px; */
    width:50%;
    height: 200px;
}
.text-part{
    font-size: 25px;
    margin-left: 30px;
    line-height: 30px;
}
.color-font{
    color: orangered;
    background-color: rgb(221, 164, 164);
    text-decoration: underline;
}
.image-details{
    /* margin: 10px auto;
     */
    text-align: center;
     /* align-items: center; */
}
.name{
    color: orangered;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
}
.position{
    font-size: 20px;

}